<script type="text/javascript" src="{{ site.baseurl }}/plugins/jquery/jquery.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/2.0.3/motion-ui.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script type="text/javascript" src="{{ site.baseurl }}/plugins/wow/wow.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/main.js"></script>
